//
// Variables
// --------------------------------------------------

// Colors
// --------------------------
$mainColor: #fff;
$fontColor: #000;

// Fonts
// --------------------------
$sansFont: "Helvetica Neue", Tahoma, Helvetica, Arial, sans-serif;
$serifFont: Georgia, Cambria, "Times New Roman", Times, serif;
$monoFont: Monaco, Menlo, Consolas, "Courier New", monospace;
